body {
  margin: 0px;
}

#title {
  text-align: center;
  background-color: lightblue;
  margin: 0;
  padding-top: 40px;
}

h2 {
  font-size: 35px;
}

#pokemon-container {
  background-color: lightblue;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  flex-wrap: wrap;
}

.card {
  margin: 20px;
  width: 300px;
  height: 420px;
  border: solid 2px darkgray;
  border-radius: 20px 50px 20px 20px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#bulbasaur {
  background-color: lightgreen;
}

#squirtle {
  background-color: lightskyblue;
}

#charmander {
  background-color: salmon;
}

button {
  background-color: lightgray;
  padding: 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.5;
}

button:active {
  transform: scale(0.8); 
  transition-duration: 0.2s
}

#bulbasaur {
  transition-duration: 1s;
}

#bulbasaur:hover img {
  /* transform: translateY(-50px); */
  /* transform: translateX(50px); */
  /* transform: translate(-50px, 30px); */
  /* transform: translate(ejeX, ejeY); */
  transform: rotate(-360deg);

  transition-duration: 1s;
}


/* Keyframes */

@keyframes colorAnimation {

  0% {
    background-color: red;
  }

  50% {
    background-color: darkred;
  }

  100% {
    background-color: purple;
  }

}

#charmander:hover {
  animation-name: colorAnimation;
  animation-duration: 1s;
  background-color: purple;
}

#img2 {
  display: none; 
  /* basicamente hacer invisible */
}

#charmander:hover #img2 {
  display: block;
}

#charmander:hover #img1 {
  display: none;
}


@keyframes complexAnimation {

  5% {
    transform: rotate(10deg)
  }

  10% {
    transform: rotate(0deg);
    background-color: lightgreen;
  }

  15% {
    transform: rotate(-10deg);
  }

  10% {
    transform: rotate(0deg);
    background-color: lightgoldenrodyellow;
  }

  40% {
    transform: translateY(-10px);
    background-color: blue;
  }

  100% {
    transform: scale(1.2)
  }

}

#squirtle:hover {
  animation-name: complexAnimation;
  animation-duration: 1.5s;
  transform: scale(1.2);
  background-color: blue;
}